# 2024-2 데이터분석입문 
## 02주 수업
### 노트북에서 파이썬 문법 기초 다지기
### 교재 2단원 2절 제어 흐름과 함수

In [1]:
s = 'VS code'
if s == 'VS code':
  print('파이썬 개발환경')
else: 
  print('다른 개발환경')

파이썬 개발환경

In [2]:
n = 20
if n%2 == 0:
  print('짝수')

짝수

In [3]:
n = 21
if n%2 == 0:
  print('짝수')

In [4]:
age = 18
if age >= 20:
  print('성인')
else:
  print('미성년자')

미성년자

In [5]:
age = 21
if age >= 20:
  print('성인')
else:
  print('미성년자')

성인

In [6]:
age = 18
s = '성인' if age >= 20 else '미성년자'
print(s)

age = 20
s = '성인' if age >= 20 else '미성년자'
print(s)

미성년자
성인

In [7]:
point = 92
if (90 <= point):
  print('A')
elif (80 <= point):
  print('B')
elif (70 <= point):
  print('C')
elif (60 <= point):
  print('D') 
else:
  print('F')

A

In [8]:
point = 62
if 90 <= point:
  print('A')
elif 80 <= point:
  print('B')
elif 70 <= point:
  print('C')
elif 60 <= point:
  print('D') 
else:
  print('F')

D

In [9]:
value = "apple"

match value:
  case 'apple':
    result = "사과"
  case 'banana':
    result = "바나나"
  
print(result)

사과

In [10]:
value = "banana"

match value:
  case 'apple':
    result = "사과"
  case 'banana':
    result = "바나나"
  
print(result)

바나나

In [11]:
value = "mango"

match value:
  case 'apple':
    result = "사과"
  case 'banana':
    result = "바나나"
  case _:
    result = None
  
print(result)

None

In [13]:
for x in range(1, 6): 
  print(x)

1
2
3
4
5

In [12]:
num = [10, 20, 30, 40]
for i in num:
  print(i)

10
20
30
40

In [14]:
fruits = list(["apple", 2500, "banana", 500, "mango", 2000])
for x in fruits:
  print(x)

apple
2500
banana
500
mango
2000

In [15]:
i = 1
sum = 0
while i <= 10:
  sum += i
  i += 1

print(sum)

55

## 함수

In [17]:
def hello():
  print('Hello, Python!')
  
hello()

Hello, Python!

In [19]:
hello

In [20]:
type(hello)

function

In [21]:
def hi(one):
  print('안녕,', one)

hi('영희')

안녕, 영희

In [22]:
hi

In [23]:
str(hi)

'<function hi at 0x0000027F1B1B1120>'

In [24]:
def hi(one = '친구들'):
  print('안녕,', one)

hi()
hi('철수')

안녕, 친구들
안녕, 철수

In [25]:
import math as m
def circle_area(r = 1):
    print(m.pi * r**2)

circle_area()
circle_area(4.5)

3.141592653589793
63.61725123519331

In [27]:
circle_area(r = 5.6)

98.5203456165759

In [28]:
print(circle_area(r = 7.2))

162.8601631620949
None

In [29]:
import math as m
def circle_area(r = 1):
    return m.pi * r**2

print(circle_area(r = 7.2))

162.8601631620949

In [30]:
def sum_sub(x, y):
  hap = x + y
  cha = x - y
  return hap, cha

sum_sub(10, 3)

(13, 7)

In [31]:
sum_sub(x = 10, y = 3)

(13, 7)

In [32]:
sum_sub(y = 3, x = 10)

(13, 7)

In [33]:
import math as m
(lambda a, b: m.sqrt(a**2 + b**2))(3, 4)

5.0

# end of code