# 2024-2 데이터분석입문 
## 02주 수업
### 교재 2단원 3절 표준 파이썬 기본 자료구조

# Python 자료구조

- shift + Enter : 실행 후 다음 셀로 이동, 다음 셀이 없으면 생성 
- ctrl + Enter : 현재 셀만 실행
- alt + Enter : 현재 셀 실행 후 다음 셀 생성

## 현재 사용 파이썬 점검

In [1]:
import sys
sys.version

'3.11.5 | packaged by Anaconda, Inc. | (main, Sep 11 2023, 13:26:23) [MSC v.1916 64 bit (AMD64)]'

In [2]:
import site
site.getsitepackages()

['C:\\ProgramData\\anaconda3-23-09',
 'C:\\ProgramData\\anaconda3-23-09\\Lib\\site-packages']

## 1. 다양한 자료구조

### 리스트

In [2]:
# %% list tuple
lst = [10, 20, 30]
print(lst, type(lst))

[10, 20, 30] <class 'list'>

In [1]:
list(['java', 'python', 'R'])

['java', 'python', 'R']

In [3]:
print(list(range(5)))
print(list(range(1, 10, 2)))

[0, 1, 2, 3, 4]
[1, 3, 5, 7, 9]

In [1]:
lst = [1, 3.92, 3 > 4, 'list']
print(lst[0], lst[2])

1 False

In [2]:
lst[2:4]

[False, 'list']

In [3]:
print(lst[2:])
print(lst[:4])
print(lst[-1:-4:-1])

[False, 'list']
[1, 3.92, False, 'list']
['list', False, 3.92]

### 리스트 메소드 append() insert()

In [ ]:
import math as m
a = [m.pi, 30, 10 > 4, 'list', lambda x: x**3]
a.append('py')
a

[3.141592653589793, 30, True, 'list', <function __main__.<lambda>(x)>, 'py']

In [ ]:
def add2(x, y):
    return x + y

a.insert(1, add2)
a[1](10, 20)

30

In [ ]:
a

[3.141592653589793,
 <function __main__.add2(x, y)>,
 30,
 True,
 'list',
 <function __main__.<lambda>(x)>,
 'py']

In [ ]:
a.remove(30)
a

[3.141592653589793,
 <function __main__.add2(x, y)>,
 True,
 'list',
 <function __main__.<lambda>(x)>,
 'py']

In [ ]:
a.pop()

'py'

In [ ]:
a

[3.141592653589793,
 <function __main__.add2(x, y)>,
 True,
 'list',
 <function __main__.<lambda>(x)>]

### list comprehension

In [4]:
my_list = [x for x in range(10)]
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
[x for x in range(10) if x%2 == 1]

[1, 3, 5, 7, 9]

In [7]:
['even' if i%2 == 0 else 'odd' for i in range(1, 11)]

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [6]:
[[i for j in range(5)] for i in range(3)]

[[0, 0, 0, 0, 0], [1, 1, 1, 1, 1], [2, 2, 2, 2, 2]]

In [8]:
[[j for j in range(i, i+6)] for i in range(3)]

[[0, 1, 2, 3, 4, 5], [1, 2, 3, 4, 5, 6], [2, 3, 4, 5, 6, 7]]

### 사전

In [ ]:
# dict
mart = {'라면':1200, '음료수':1500, '과자':800}
print(mart, type(mart))

{'라면': 1200, '음료수': 1500, '과자': 800} <class 'dict'>

In [ ]:
print(mart['라면'])
print(mart['과자'])
print(mart['음료수'])

1200
800
1500

In [ ]:
data = {1: '일', 3.14: 2.71, (1, 2): '튜플', 'list': [1, 2, 3]}
data

{1: '일', 3.14: 2.71, (1, 2): '튜플', 'list': [1, 2, 3]}

In [ ]:
data = {1: '일', 3.14: 2.71, [1, 2]: '리스트', 'list': [1, 2, 3]}

TypeError: unhashable type: 'list'

In [29]:
f_cnt = dict((('apple', 2), ('banana', 5), ('orange', 3)))
f_cnt

{'apple': 2, 'banana': 5, 'orange': 3}

In [27]:
f_price = dict(apple=4000, banana=300, orange=2000)
f_price

{'apple': 4000, 'banana': 300, 'orange': 2000}

### 항목 추가와 메소드 items()

In [35]:
mart = {'라면': 1200, '음료수': 1500, '과자': 800}
mart['삼각김밥'] = 1700
mart

{'라면': 1200, '음료수': 1500, '과자': 800, '삼각김밥': 1700}

In [37]:
mart['과자'] = 900
mart

{'라면': 1200, '음료수': 1500, '과자': 900, '삼각김밥': 1700}

In [38]:
mart.keys()

dict_keys(['라면', '음료수', '과자', '삼각김밥'])

In [39]:
mart.values()

dict_values([1200, 1500, 900, 1700])

In [40]:
mart.items()

dict_items([('라면', 1200), ('음료수', 1500), ('과자', 900), ('삼각김밥', 1700)])

### tuple

In [ ]:
# %% list tuple
tp1 = 1, 2, 3
tp2 = (10, 20, 30)
print(tp1, tp2)

(1, 2, 3) (10, 20, 30)

In [ ]:
tp3 = tuple((10, 20, 30))
tp4 = tuple(['py', 'R'])
print(tp3, tp4)

(10, 20, 30) ('py', 'R')

In [ ]:
tpl = 1, 3.92, 3 > 4, 'tuple'
print(tpl, type(tpl))

print(tpl[0])
print(tpl[3])

(1, 3.92, False, 'tuple') <class 'tuple'>
1
tuple

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
concatenated_tuple

(1, 2, 3, 4, 5, 6)

In [ ]:
# tpl[1] = 100
# tpl.append('py') # 오류발생

### set

In [41]:
# %% set
basket = {'apple', 'orange', 'apple', 'pear'}
print(basket)

{'orange', 'apple', 'pear'}

In [42]:
len(basket)

3

In [43]:
print('grape' in basket)
print('apple' in basket)

False
True

In [51]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6, 7}
print(A.union(B))           # 합집합
print(A.intersection(B))    # 교집합
print(A.difference(B))      # 차집합
print(B.difference(A))      # 차집합
print(A.symmetric_difference(B)) # 여집합

{1, 2, 3, 4, 5, 6, 7}
{3, 4}
{1, 2}
{5, 6, 7}
{1, 2, 5, 6, 7}

In [6]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6, 7}
print(A | B) # 합집합
print(A & B) # 교집합
print(A - B) # 차집합
print(B - A) # 차집합
print(A ^ B) # 여집합

{1, 2, 3, 4, 5, 6, 7}
{3, 4}
{1, 2}
{5, 6, 7}
{1, 2, 5, 6, 7}

In [7]:
basket = {'apple', 'orange', 'apple', 'pear'}
basket.add('banana')
basket

{'apple', 'banana', 'orange', 'pear'}

In [9]:
myset = {0}
print(myset)
myset.add([1, 2]) # 오류

{0}

TypeError: unhashable type: 'list'

In [11]:
myset = {0}
myset.add((1, 2))
myset

{(1, 2), 0}

In [12]:
myset.remove(0)
myset

{(1, 2)}

In [27]:
# %% mutable vs immutable
help(id)

Help on built-in function id in module builtins:

id(obj, /)
    Return the identity of an object.

    This is guaranteed to be unique among simultaneously existing objects.
    (CPython uses the object's memory address.)

In [28]:
# %% mutbale vs immutable
a = b = 1
print(id(a), id(b))
print(id(a) == id(b))

140711000707880 140711000707880
True

In [29]:
a = a + 1
print(id(a), id(b))
print(id(a) == id(b))

140711000707912 140711000707880
False

In [11]:
print(id(2), id(1+1), id(3-1))

140712818611016 140712818611016 140712818611016

In [12]:
data = 10
print(id(data))
data = 10 + 1
print(id(data))

140712818611272
140712818611304

In [31]:
lst = [1, 2, 3]
print(id(lst))

lst.append(4)
print(id(lst))

2613030810944
2613030810944

In [ ]:
help(hash)

Help on built-in function hash in module builtins:

hash(obj, /)
    Return the hash value for the given object.

    Two objects that compare equal must also have the same hash value, but the
    reverse is not necessarily true.

In [1]:
hash((1, 2))

-3550055125485641917

In [2]:
hash((1, 2))

-3550055125485641917

In [3]:
hash([1, 2])

TypeError: unhashable type: 'list'

In [34]:
print(hash([1, 2, 3]))

TypeError: unhashable type: 'list'

In [35]:
print(hash({'one':1}))

TypeError: unhashable type: 'dict'

In [36]:
print(hash({1, 2, 3}))

TypeError: unhashable type: 'set'

In [1]:
print(hash('py'), hash((1, 2)))

-1857589116887210153 -3550055125485641917

In [2]:
help(id)

Help on built-in function id in module builtins:

id(obj, /)
    Return the identity of an object.

    This is guaranteed to be unique among simultaneously existing objects.
    (CPython uses the object's memory address.)

In [4]:
x, y = 10, 10
print(id(x), id(y))

140704255284296 140704255284296

In [7]:
x = 10
print(id(x))
x = 9 + 1
print(id(x))

140704255284296
140704255284296

In [5]:
lst = [1, 2]
print(id(lst))
lst.append(3)
print(id(lst))

1408107247680
1408107247680

# end of code